.cover__subtitle {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    width: calc(360*100vw/1280);
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        width: calc(360*100vw/1024);
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: calc(360*100vw/768);
    }
}

@media screen and (max-width: 590px) {
    .cover__subtitle {
        font-size: 13px;
        line-height: 18px;
    }
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: calc(288*100vw/320);
    }
}