.intro__text {
    max-width: calc(690*100%/984);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26.08px;
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: calc(690*100%/928);
    }
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .intro__text {
        max-width: 100%;
        padding-bottom: 34px;
    }
}