.intro {
    color: rgba(255, 255, 255, 1);
    max-width: 76.875vw;
    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 90.625vw;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75vw;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 90vw;
    }
}