.cover__title {
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    width: calc(560*100vw/1280);
    margin: 0 auto;
    padding: 0;
    margin-bottom: 32px;
    position: relative;
    z-index: 1;
}

.cover__title:hover~.cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        width: calc(560*100vw/1024);
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: calc(560*100vw/768);
    }
}

@media screen and (max-width: 590px) {
    .cover__title {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 20px;
        
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        width: calc(288*100vw/320);
        margin-bottom: 16px;
    }
}